pkgbase = timez
	pkgdesc = A powerful tool for measuring command execution time and resource usage.
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/veloXm/Timez
	arch = x86_64
	license = GPL3
	depends = gcc
	source = timez
	source = timez_s
	sha256sums = b63265000f4f3c84aa8d3d754a663a2bcf11dc5aca5ff682a637b9ae23439aa7
	sha256sums = 990332cb8f72add343d558b86f8e284d80355bde309e71bcc9fcdb5a1876311e

pkgname = timez
