pkgbase = timez
	pkgdesc = A powerful tool for measuring command execution time and resource usage.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/veloXm/Timez
	arch = x86_64
	license = GPL3
	depends = gcc
	source = timez
	source = timez_s
	sha256sums = ba8e670be224a75513e562b5fd9d4bbcccd2b2fcf8f9b1d76109329f57f7ac1b
	sha256sums = ceb3eb0d8f2aa3834ebcb9e57f7074aea76a9e2ebdbc8a7a64747eb6e073b2d5

pkgname = timez
